<h1><%= t('shieldify.mailer.email_changed.greeting', email: @user.email) %></h1>
<p><%= t('shieldify.mailer.email_changed.message', unconfirmed_email: @user.unconfirmed_email) %></p>
<p><%= t('shieldify.mailer.email_changed.ignore') %></p>