<h1><%= t('shieldify.mailer.password_changed.greeting', name: @user.name) %></h1>
<p><%= t('shieldify.mailer.password_changed.message') %></p>
<p><%= t('shieldify.mailer.password_changed.advice') %></p>